.content{
    /*background-color: aqua;*/
    font-size: 20px;
    padding: 1rem 6rem;
    margin-top: 1rem ;
    margin-left: 5rem;
    margin-right: 4rem;
    text-align: justify;
  }

  @media (max-width: 320px) {
    .content{
      font-size: 11px;
      padding: 0.5rem 1rem;
      margin: 1rem auto;
      text-align: justify;

    }
  }

  @media (max-width: 425px) {
    .content{
      font-size: 11px;
      padding: 1rem 0.3rem;
      margin-top: 1rem ;
      margin-left: 1rem;
      margin-right: 2rem;
      text-align: justify;

    }
  }

  @media (max-width: 768px) {
    .content{
      font-size: 11px;
      padding: 1rem 0.3rem;
      margin-top: 1rem ;
      margin-left: 1rem;
      margin-right: 2rem;
      text-align: justify;

    }
  }